# check utils/globals.py for a list of configuration parameters and their defaults
# can modify one or more of them and add them below
[World]
class = World.WorldBuilder
subbuilders =  ["IBeams", "Belts", "ShieldingFloors", "Cryostat", "Cavern"]
workspace = 0
wires = True

[DetEnclosure]
class = DetEnclosure.DetEnclosureBuilder
subbuilders = ["Cryostat" ]

[Cryostat]
class = Cryostat.CryostatBuilder
#subbuilders = ["FieldCage", "TPC", "Arapuca", "CathodeGrid"]

[FieldCage]
class = FieldCage.FieldCageBuilder

[TPC]
class = TPC.TPCBuilder
subbuilders = ["Wires"]

[Arapuca]
class = Arapuca.ArapucaBuilder

[CathodeGrid]
class = CathodeGrid.CathodeGridBuilder

[Wires]
class = Wires.WiresBuilder

[IBeams]
class = IBeams.IBeamsBuilder

[Belts]
class = Belts.BeltsBuilder

[ShieldingFloors]
class = ShieldingFloors.ShieldingFloorsBuilder

[Cavern]
class = Cavern.CavernBuilder


